@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas.otf');
}

@font-face {
    font-family: 'aargh';
    src: url('fonts/aargh.otf');
}

/*for use with older versions of firefox and safari*/
section,header,footer,nav
{
	display:block;
}

body
{
	overflow:scroll;
	background:url('res/main.jpg') no-repeat center center fixed;
	background-color:black;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding:0;
}

a img
{
	border:none;
}

a
{
	outline:none;
}

#official-resume
{
	position:relative;
	display:block;
	width:750px;
	height:950px;
	margin:auto;
}

#content-wrapper
{
	position:relative;
	margin-bottom:100px;
}

#content-index
{
	display:block;
}

#content-resume
{
	position:relative;
	display:block;
	background-color:rgba(119,119,119, 0.85);
	padding-bottom:50px;
	margin-top:30px;
}

#content-resume a
{
	position:relative;
	margin-left:50px;
	font-family:"aargh", serif;
	font-size:1em;
	color:white;
}

#content-resume img
{
	position:relative;
	display:block;
	height:1165px;
	width:900px;
	margin:auto;
}

#content-resume a:hover
{
	color:orange;
}

#resume-title
{
	position:relative;
	margin-left:20px;
	margin-top:20px;
}

/*PROJECTS.HTML*/
#content-projects
{
	position:relative;
	background-color:rgba(119,119,119, 0.85);
}

#content-projects h1
{
	position:relative;
	font-size:28px; /*check later*/
	left: 20px;
}

#description-list
{
	position:relative;
	max-width:600px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
}

#description-list li
{
	position:absolute;
	left:0;
	list-style: none;
}

#description-list li:not(:first-child)
{
	opacity:0;
}

.project-name
{
	position: relative;
	font-family:'bebas', serif;
	font-size:1.4em;
	color:white;
	padding:10px;

}

#project-main-imgs
{
	position:relative;
	height: 350px;
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

#project-main-imgs li
{
	position:absolute;
	list-style:none;
	left:0;
	top:0;
}

/*#highlight
{
	position:absolute;
	top:603px;
	left:43px;
	height:117px;
	width:200px;
	border:solid orange;
}*/

#project-thumbs
{
	position:relative;
	text-align: center;
	margin-right:45px;
}

#project-imgs
{
	position:relative;
	display:inline-block;
	z-index:1;
	line-height: 6;
	margin-top:50px;
}

#project-imgs li
{
	display:inline-block;
	padding:0 15px 0 15px;
}

#project-imgs img
{	
	opacity:0.2;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
}

#project-imgs div
{
	margin-top:-65px;
	text-align: center;
	color: white;
	font-family:'bebas', sans-serif;
	font-size: 0.8em;
}

#project-imgs img:hover
{
	opacity:1.0;
}

#c-line-break
{
	position:relative;
	border: solid orange;
	width:750px;
	margin:auto;
}

#project-name-container
{
	position:absolute;
	z-index:100;
	background-color:rgba(0,0,0,0.5);
	bottom:0;
	height:15%;
	width:100%;
}

#project-name-container li:not(:first-child)
{
	opacity:0;
}

/*END PROJECTS.HTML*/
#content-info
{
	position:relative;
	display:block;
	background-color: rgba(119, 119, 119, 0.85);
	margin-top:30px;
	height: 500px;
}

#info-profile-pic
{
	position: relative;
	display:inline-block;
	margin-left:45px;
	margin-bottom:175px;
}

.container-title
{
	display:inline-block;
	padding:10px;
	font-family:'bebas', sans-serif;
	color:white;
	border-bottom:solid orange;
}

#content-info h1
{
	position:absolute;
	bottom:375px;
	margin-left: 40px;
	height:40px;
	font-size:2em;
}

#content-info article
{
	position:absolute;
	max-width:600px;
	bottom:115px;
	left:325px;
}

.description
{
	position:relative;
	font-family:'aargh', serif;
	font-size:.8em;
	color:white;
	line-height:2em;
}

#vertical-line
{
	position:relative;
	display:inline-block;
	border-left:solid rgba(68, 68, 68, 1);
	margin-top: 30px;
	margin-left: 30px;
	height: 75%;
}

#page-head /*name title above head*/
{
	position:relative;
	display:inline-block;
	//margin-left:10px;
	top:5px;
}

#head
{
	position:relative;
	background-color:rgba(119, 119, 119, 0.65);
	opacity: 0.65;
}

#wrapper
{
	position:relative;
	width: 1000px;
	margin: 0 auto;
}

#navlist
{
	position:relative;
	text-align: right;
	margin-right:10px;
}

#navlist li
{
	font-family: "bebas", sans-serif;
	font-size:1em;
	position:relative;
	padding:10px 10px 10px 15px;
	display:inline-block;
	height: 100%;
}

#navlist li a
{
	text-decoration: none;
	color:rgba(255, 255, 255,1);
} 

#navlist li:hover
{
	background-color: rgba(0,0,0,0.65);
}

#slideshow
{
	position:relative;
	overflow:hidden;
	margin:20px;
	height:450px;
	width:950px;
}

#imglist
{
	padding-left:0;
	margin-top:0;
}

#imglist li
{
	position:absolute;
	list-style-type:none;
	width:950px;
	height:450px;
}
#imglist li  img
{
	position:relative;
	height:450px;
	width:950px;
}

#indicator-list
{
	position:absolute;
	text-decoration:none;
	letter-spacing: 10px;
	background:rgba(0, 0, 0, 0.65);
	border-radius:10px;
	bottom: 5px;
	z-index: 6;
	left:400px;
}

.indicator
{
	position:relative;
	display:inline-block;
	color: orange;
	left: -20px;
}

.limg
{
	background:url("res/indicator-on-off-sprite.png") 0 0 no-repeat;
	height:10px;
	width:10px;
}


.limg-on
{
	background:url("res/indicator-on-off-sprite.png") 0 -40px no-repeat;
	height:10px;
	width:10px;
}

#slidehead
{
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	line-height: 10px;
	color:white;
	letter-spacing:1px;
	height: 50px;
	width:950px;
	z-index: 4;	
}

#slidehead-list li
{
	list-style-type:none;
}

#arrow-left
{
	position:absolute;
	background:url('res/slide-arrow-left.png');
	opacity: 0.25;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	height:100px;
	width:100px;
	top: 175px;
	left: 20px;
	z-index: 5;
}

#arrow-left:hover
{
	opacity: 1.0;
}

#arrow-left:active
{
	background:url('res/slide-arrow-left-active.png');
}

#arrow-right
{
	position:absolute;
	background:url('res/slide-arrow-right.png');
	opacity:0.25;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	height:100px;
	width:100px;
	top:175px;
	right: 20px;
	z-index:5;
}

#arrow-right:hover
{
	opacity: 1.0;
}

#arrow-right:active
{
	background:url('res/slide-arrow-right-active.png');
}

.text-container
{
	position:absolute;
	margin-left:10px;
}

.text-container h1
{
	font-family:'bebas', sans-serif;
	font-size:1em;
}

#box-container
{
	position:relative;
	height:250px;
	margin-top:30px;
	margin-bottom:30px;
	text-align: center;
}

.text-bg
{
	position:relative;
	width:250px;
	height:150px;
	margin-top:15px;
	padding-top:20px;
	background-color:rgba(0,0,0,0.5);
}

.box
{
	position:relative;
	background-color:rgba(119,119,119,0.65);
	display:block;
	float:left;
	margin-left:60px;
	height:250px;
	width:250px;
}

#box-container a
{
	font-family:"aargh", serif;
	font-size:.8em;
	text-decoration:none;
	color:white;
}

#box-container a:hover
{
	color:orange;
}

.boxtext
{
	font-family:'bebas', sans-serif;
	position:relative;
	display:inline-block;
	padding:5px 10px 5px 10px;
	border-radius:50px;
	background-color:rgba(0,0,0,0.65);
	color:orange;
	margin-top:10px;
}

#footer-nav
{
	list-style:none;
	margin-right:200px;
}

#footer-nav li
{
	position:relative;
	display:inline;
	padding-left:45px;
	float:right;
}

.footer-links
{
	opacity:0.6;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
}

.footer-links:hover
{
	opacity:1.0;
}

#copyright-txt
{
	position:absolute;
	color:white;
	font-family:'aargh', serif;
	font-size:1em;
	left:7px;
	top:7px;
}

footer
{
	position:fixed;
	width:100%;
	height:75px;
	border-top:solid orange;
	margin-top:20px;
	bottom:0;
	background-color:rgba(119,119,119,0.7);
	z-index:200;
}
