body
{
	/*background: url('../res/login-bg.jpg') no-repeat;*/
	background-color:#3f3f3f;
	background-size: 100%;
}

#container
{
	position:relative;
	width: 750px;
	height: 100%;
	margin:auto;	
}

#login-box
{
	position:relative;
	margin-top:225px;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:30px;
	border-radius: 5px;
	background-color:rgba(0,0,0,.50);
	-moz-box-shadow:2px 2px 5px black;
	box-shadow:2px 2px 2px 3px black;
}

#box-title
{
	position:relative;
	color:white;
	height:25px;
	width:250px;
	font-family:sans-serif;
	top:25px;
	font-weight:bold;
	font-size:1.5em;
	margin:auto;
	text-align:center;
}

#login-form
{
	position:relative;
	left: 30%;
	color:white;
	margin-top:30px;
	
}

#login-form form input
{
	border:none;
	height:25px;
	margin-top:3px;
	font-size:1.2em;
	margin-bottom:15px;
}

#login-submit
{
	background:darkgreen;
	border:none;
	color:white;
	padding: 5px 10px 10px 10px;
	margin-left:120px;
}

#login-submit:hover
{
	background:white;
	color:darkgreen;
}

.error
{
	color:red;
	font-weight: bold;
	text-align:center;
}


#login-form > label
{
	position:relative;
	font-family:sans-serif;
}